env:
  - DOCKER_COMPOSE_VERSION=2.2.3

before_install:
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend
  - docker build -t reverseproxy ./reverseproxy

  - docker tag udagram-api-feed quangtrang1111/udagram-api-feed:v1
  - docker tag udagram-api-user quangtrang1111/udagram-api-user:v1
  - docker tag udagram-frontend quangtrang1111/udagram-frontend:v1
  - docker tag reverseproxy quangtrang1111/reverseproxy:v1

install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push quangtrang1111/udagram-api-feed:v1
  - docker push quangtrang1111/udagram-api-user:v1
  - docker push quangtrang1111/frontend:v1
  - docker push quangtrang1111/reverseproxy:v1
